world:
    type: FlatEvadeWorld
    spec:
        friction: 0
        reaching_eps: 0.1
        agent_goal:
            robot: null
            human: "robot"
    # # todo change spec to:
    # agent_tasks:
    #     robot:
    #         task: FlatEvadeTask
    #         spec:
    #             reaching_eps: 0.1
    #             goal: null
    #     human:
    #         task: FlatEvadeTask
    #         spec:
    #             reaching_eps: 0.1
    #             goal: "robot"
dt: 0.01
agent_comp_spec:
    robot: configs/flat_evade_agent_1_mp.yaml
    human: configs/flat_evade_agent_2_mp.yaml
agent_env_spec:
    robot:
        type: BB8Agent
        spec:
            init_x: [30.0, 30.0, 0.0, 0.0]
    human:
        type: BB8Agent
        spec:
            init_x: [80.0, 80.0, 0.0, 0.0]

# ? it seems that the control (dynamics) model in model-based agent might not be
# ? consistent with the actual simulation agent?
